* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

header {
  background-color: rgb(53, 58, 64);
}

footer {
  color: white;
  background-color: rgb(30, 79, 109);
}

#green {
  color: rgb(41, 167, 68);
}

#btnGreen {
  background-color: rgb(41, 167, 68);
  color: white;
}

#btnSkyBlue {
  background-color: rgb(19, 164, 185);
  color: white;
}

#btnLightGreen {
  background-color: rgb(150, 201, 62);
  color: white;
}

#submitButton {
  background-color: rgb(150, 201, 62);
  color: white;
}

.fondoNavBar {
  background-color: rgb(53, 58, 64);
}

.fondoBsAsOctubre {
  background-color: rgb(53, 58, 64);
  color: white;
}

.logo {
  width: 100px;
}

.pCarrousel {
  padding-top: 19%;
  padding-right: 20px;
}

.fontOradorS {
  font-size: small;
}

.boxWidth {
  width: 70%;
}

.boxSizeSmall {
  font-size: small;
}

.buttonModifier {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 6px;
}

.buttonBIG {
  height: 45px;
}

.form-control:disabled {
  background-color: rgb(204, 229, 255) !important;
  border: 1px solid rgb(184, 218, 255);
}

.form-control:disabled::placeholder {
  color: rgb(0, 64, 165);
}

.conferenceText {
  font-size: 1.2rem;
  line-height: 1.2;
}

.card {
  height: 90%;
}

.conferenceChild {
  justify-content: space-between;
}

textarea {
  font-size: 1.5rem;
}
